@charset "utf-8";

body {padding-top: 5.313rem;}
section {max-width: 1296px; padding: 0 1rem; margin: 6.5rem auto;}
h2 {text-align: center; color: #111111; font-weight: bold; font-size: 2.625rem;}
h2 span {color: #999999;}
h2+.sub {text-align: center; color: #333333; font-weight: 300; font-size: 1.375rem; line-height: 1.875rem; margin-top: 1rem;}
h2+.sub span {color: #666666; font-size: 1rem;}
.tab {margin: 3.5rem auto 0; width: 18.75rem;}
.card-list {margin-top: 3rem;}
.pagination {margin-top: 2rem;}
.page-info-wrap {margin-top: 3rem; display: flex; justify-content: space-between; color: #666666; font-weight: 500; font-size: .938rem;}
.page-info-wrap span {color: #ff4545; letter-spacing: .025rem;}