@charset "utf-8";

body {padding-top: 5.313rem;}
section.center-wrap {margin-top: 6.5rem; margin-bottom: 6.5rem;}
h2 {text-align: center; color: #111111; font-weight: bold; font-size: 2.625rem;}
h2 span {color: #999999;}
h2+.sub {text-align: center; color: #333333; font-weight: 300; font-size: 1.375rem; line-height: 1.875rem; margin-top: 1rem;}
h2+.sub span {color: #666666; font-size: 1rem;}
.tab {margin: 3.5rem auto 0; width: 18.75rem;}
.card-list {margin-top: 3rem;}
.pagination {margin-top: 2rem;}
.page-info-wrap {margin-top: 3rem; display: flex; justify-content: space-between; color: #666666; font-weight: 500; font-size: .938rem;}
.page-info-wrap span {color: #ff4545; letter-spacing: .025rem;}
.video-wrap {position:relative; padding-bottom:56.25%; padding-top:30px; height:0; overflow:hidden;}
.video-wrap iframe,
.video-wrap object,
.video-wrap embed {position:absolute; top:0; left:0; width:100%; height:100%;}

.like-sponsor-area {background-color: #fff1f1; height: 7.25rem;}
.like-sponsor-area .center-wrap {max-width: 996px; height: 100%; padding: 0 1rem; margin: 0 auto; display: flex; justify-content: space-between; align-items: center;}
.like-sponsor-area .like-wrap {text-align: left; display: flex; justify-content: left;}
.like-sponsor-area .like-wrap button {width: 6.063rem; height: 6.125rem; background-repeat: no-repeat; background-image: url(../img/sprite-btn-like-01.png); background-position: 200%; background-position: 100% center;}
.like-sponsor-area .like-wrap button.on {background-position: 0 center;}
.like-sponsor-area .like-wrap .info {display: flex; flex-direction: column; justify-content: center; padding: 0 .875rem;}
.like-sponsor-area .like-wrap .info .num {color: #ff4545; font-weight: bold; font-size: 2.5rem; letter-spacing: .05rem;}
.like-sponsor-area .like-wrap .info .guide {color: #e27979; font-weight: 400; font-size: 1.125rem; margin-top: .75rem;}
.like-sponsor-area .sponsor-wrap {text-align: right; display: flex; justify-content: right;}
.like-sponsor-area .sponsor-wrap dl {color: #333333; font-weight: 400; font-size: 1.125rem; margin-right: 1.5rem; display: flex; flex-direction: column; justify-content: center;}
.like-sponsor-area .sponsor-wrap dd {margin-top: .25rem;}
.like-sponsor-area .sponsor-wrap .num {font-weight: bold; font-size: 2.5rem; letter-spacing: .05rem;}
.like-sponsor-area .btn-sponsor {background-color: #ff4545; color: #ffffff; font-weight: 500; font-size: 2rem; width: 10.625rem; height: 4.375rem; border-radius: .5rem;}