@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

body {min-width: 360px; font-size: 16px; letter-spacing: -.05em; background-color: #ffffff; padding-top: 5.313rem;}
body * {font-family: 'Noto Sans KR', Helvetica, Arial, sans-serif;}
a {text-decoration: none;}
button {padding: 0; background: none; border: none; cursor: pointer;}
caption {display: none;}
label {cursor: pointer;}
[type=text], [type=password], [type=email], [type=tel], [type=number], select {width: 100%; height: 2.5rem; box-sizing: border-box; border: 1px solid #d6d6d6; padding: 0 1rem; color: #333333; font-weight: 500; font-size: .938rem;}
[type=checkbox], [type=radio], select {cursor: pointer;}
::placeholder {color: #999999;}
select::-ms-expand {display: none;}
select {-o-appearance: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: #ffffff url(../img/icon-anggle-bottom-2px-333333.svg) no-repeat calc(100% - 1rem) center; background-size: .6rem;}


/* Common */
.center-wrap {max-width: 1328px; box-sizing: border-box; padding: 0 1rem; margin: 0 auto;}
.ellipsis {text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.multi-line-ellipsis {overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.scroll-x-wrap {overflow-x: scroll;}

/* Section */
section>h2 {text-align: center; color: #111111; font-weight: bold; font-size: 2.625rem; word-break: keep-all;}
section>h2 span {color: #999999;}
section>h2+.sub {text-align: center; color: #333333; font-weight: 300; font-size: 1.375rem; line-height: 1.875rem; word-break: keep-all; margin-top: 1rem; padding: 0 4rem;}
section>h2+.sub span {color: #666666; font-size: 1rem; line-height: 1.375rem;}

.primary-btn-area {position: relative; margin-top: 2.375rem; text-align: center;}
.primary-btn-area .pagination {margin-top: 0; display: inline-flex;}
.primary-btn-area .right {position: absolute; top: 0; right: 0;}
.primary-btn-area .left {position: absolute; top: 0; left: 0;}
.primary-btn-area>button {min-width: 5.5rem; height: 2rem; box-sizing: border-box; padding: 0 1.25rem; border-radius: .25rem; font-weight: 300; font-size: .875rem;}
.primary-btn-area>button+button {margin-left: 1rem;}
.btn-gray {background-color: #525252; color: #ffffff;}
.btn-color {background-color: #ff4545; color: #ffffff;}
.btn-primary {width: 100%; height: 4.375rem; background-color: #ff4545; color: #ffffff; font-weight: 500; font-size: 1.25rem; border-radius: .5rem;}

.checkbox-type-01 {display: none;}
.checkbox-type-01+label {position: relative; padding-left: 26px; color: #333333; font-weight: 500; font-size: 1.125rem;}
.checkbox-type-01+label::before, .checkbox-type-01+label::after {content: ''; display: block; position: absolute; border-radius: 100%;}
.checkbox-type-01+label::before {top: 4px; left: 0; width: 18px; height: 18px; border: 1px solid #9f9f9f;}
.checkbox-type-01:checked+label::after {top: 10px; left: 6px; width: 8px; height: 8px; background-color: #ff4545;}
.checkbox-type-02 {display: none;}
.checkbox-type-02+label {position: relative; padding-left: 24px; color: #333333; font-weight: 500; font-size: 1rem;}
.checkbox-type-02+label::before, .checkbox-type-02+label::after {content: ''; display: block; position: absolute; border-radius: 100%;}
.checkbox-type-02+label::before {top: 4px; left: 0; width: 16px; height: 16px; border: 1px solid #9f9f9f;}
.checkbox-type-02:checked+label::after {top: 10px; left: 6px; width: 6px; height: 6px; background-color: #ff4545;}

.join-membership-area {border-top: 1px solid #dfdfdf; margin-top: 2.5rem;}
.join-membership-area h3 {background-color: #1765ad; color: #ffffff; font-weight: 500; font-size: 1.25rem; width: 10rem; height: 3.125rem; display: flex; justify-content: space-between; align-items: center; box-sizing: border-box; padding-left: 1.25rem; border-top-left-radius: .5rem; border-bottom-left-radius: .5rem; border-top-right-radius: 1.563rem; border-bottom-right-radius: 1.563rem; margin-top: 2.5rem;}
.join-membership-area h3::after {content: ''; display: inline-block; background-color: #ffffff; width: .625rem; height: .625rem; border-radius: 100%; margin-right: .625rem;}
.join-membership-area .service-area ol>li {color: #333333; font-weight: 500; font-size: 1.125rem; list-style: decimal inside; margin-top: 1rem; margin-left: 1.25rem;}
.join-membership-area .service-area ul>li {color: #666666; font-weight: 500; font-size: 1rem; margin-top: .75rem; margin-left: .75rem;}
.join-membership-area .service-area ul>li::before {content: '- ';}
.join-membership-area .guidance-area ul {margin-top: 1rem;}
.join-membership-area .guidance-area ul>li {color: #666666; font-weight: 500; font-size: .938rem; line-height: 1.5rem; margin-left: .75rem; position: relative; padding-left: .75rem;}
.join-membership-area .guidance-area ul>li+li {margin-top: .5rem;}
.join-membership-area .guidance-area ul>li::before {content: '- '; position: absolute; top: 0; left: 0;}

.researcharum-guide-area {text-align: center; word-break: keep-all;}
.researcharum-guide-area .tit {color: #333333; font-weight: 500; font-size: 1.5rem; line-height: 1.625rem;}
.researcharum-guide-area .sub {margin-top: 1rem; color: #333333; font-weight: 300; font-size: 1.125rem; line-height: 1.5rem;}
.researcharum-guide-area .btn-area {margin-top: 2.5rem;}
.researcharum-guide-area .btn-area button {background-color: #1765ad; color: #ffffff; font-weight: 300; font-size: 1rem; width: 12.5rem; height: 2.875rem; border-radius: .25rem;}
.researcharum-guide-area .btn-area button+button {margin-left: 1rem;}

.tab {border: 1px solid #333333; border-radius: .5rem; text-align: center; font-weight: 500; font-size: 1rem; overflow: hidden;}
.tab ul {display: flex;}
.tab li + li {border-left: 1px solid #333333;}
.tab li {color: #333333; height: 3rem; flex: 1; display: flex; justify-content: center; align-items: center;}
.tab li button {font-weight: 500; font-size: 1rem; width: 100%; height: 100%;}
.tab li.on {color: #ffffff; background-color: #333333;}
.tab li.on button {color: #ffffff;}

table.ellipsis {table-layout: fixed;}
table.ellipsis td {white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
table.table-type-01 {width: 100%; border-top: 2px solid #585858; margin-top: 1.25rem;}
.table-type-01 th, .table-type-01 td {text-align: center; vertical-align: middle; height: 3.25rem;}
.table-type-01 th {background-color: #f6f6f6; color: #333333; font-weight: 500; font-size: .938rem; border-bottom: 1px solid #787878;}
.table-type-01 td {color: #666666; font-weight: 300; font-size: .875rem; letter-spacing: .05rem; border-bottom: 1px solid #dddddd; padding: 0 1rem;}
.table-type-01 td a {color: #666666;}
.table-type-01 td a:hover {text-decoration: underline;}
.table-type-01 tr:hover td {background-color: #f7f7f7;}
table.table-type-02 {width: 100%; border-top: 1px solid #999999;}
.table-type-02 th, .table-type-02 td {border-bottom: 1px solid #dfdfdf; height: 4.375rem; vertical-align: middle; text-align: left; padding: 0 1rem; font-weight: 500; font-size: 1rem;}
.table-type-02 th {color: #666666;}
.table-type-02 td {color: #333333; padding: 0 1.5rem;}

.notice-search-area {border: 1px solid #dddddd; background-color: #f6f6f6; padding: 2rem; margin-top: 2.5rem;}
.notice-search-area .search-bar {position: relative; border: 1px solid #d6d6d6; background-color: #ffffff; width: fit-content; height: 2.75rem; margin: 0 auto; display: flex;}
.notice-search-area .search-bar label {display: none;}
.notice-search-area .search-bar select, .notice-search-area .search-bar input {border: none; font-weight: 300; font-size: .875rem; height: 100%; box-sizing: border-box; padding: 0 .75rem;}
.notice-search-area .search-bar select {border-right: 1px solid #d6d6d6; color: #666666; width: 5rem;}
.notice-search-area .search-bar input {color: #333333; width: 23.625rem;}
.notice-search-area .search-bar button {position: absolute; right: 0; bottom: .5rem; width: 3rem;}
.notice-search-area .search-bar button svg {width: 1.125rem;}
.notice-search-area .search-bar button line, .notice-search-area .search-bar button circle {stroke: #333333;}

.stock-item-summary-area {position: relative; background-color: #1765ad; color: #ffffff; margin-top: 3.75rem; width: 100%; height: 8.25rem; border-radius: .5rem; display: flex; justify-content: space-between; align-items: center;}
.stock-item-summary-area .tit-wrap {padding-left: 1.75rem; height: 100%; display: flex; align-items: center;}
.stock-item-summary-area .tit-wrap img {width: 3.25rem; margin-right: 1rem;}
.stock-item-summary-area .tit-wrap h3 {font-weight: 500; font-size: 2rem; color: #ffffff; text-align: left;}
.stock-item-summary-area .tit-wrap h3 dt, .stock-item-summary-area .tit-wrap h3 dd {display: inline;}
.stock-item-summary-area .tit-wrap h3 dt {color: #68aff0;}
.stock-item-summary-area .tit-wrap .sub {color: #68aff0; font-weight: 500; font-size: 1.25rem; padding-top: .4rem;}
.stock-item-summary-area .info-area {border-left: 1px solid #0b4982; width: 12.375rem; height: 100%; padding: 0 1.5rem; display: flex; flex-direction: column; justify-content: space-evenly;}
.stock-item-summary-area .info-area dt, .stock-item-summary-area .info-area dd {display: inline-block; font-weight: 500; font-size: 1.125rem;}
.stock-item-summary-area .info-area dt {color: #68aff0;}
.stock-item-summary-area .info-area dd {margin-left: .5rem;}
.stock-item-summary-area .info-area .num {letter-spacing: .05rem; margin-right: .4rem;}
.stock-item-summary-area .info-area button {color: #ffffff; font-weight: 500; font-size: 1rem; text-align: left; width: 100%; display: flex; justify-content: start; align-items: center;}
.stock-item-summary-area .info-area button svg {width: .5rem; margin-left: .5rem;}

.card-list {display: flex; flex-wrap: wrap; justify-content: start;}
.card-list>li {position: relative; width: 19.5rem; height: 15rem; margin-bottom: 2.5rem; margin-right: 1rem; border-radius: 1.25rem; overflow: hidden; background: linear-gradient(#ffffff 90%, rgba(255,255,255,0) 3rem); box-shadow: 0 0 40px rgba(2, 2, 2, .14);}
.card-list>li:nth-child(4n) {margin-right: 0;}
.card-list .top-info-wrap {padding: 1.5rem 2rem; display: flex; justify-content: space-between;}
.card-list .top-info-wrap .left {display: flex; justify-content: space-between;}
.card-list .top-info-wrap .writer {color: #666666; font-weight: 500; font-size: .938rem; margin-right: 2rem;}
.card-list .top-info-wrap .writer span + span {margin-left: .75rem;}
.card-list .type {color: #333333; font-weight: 500; font-size: 1rem;}
.card-list .date {color: #999999; font-weight: 300; font-size: .875rem; letter-spacing: .05rem;}
.card-list .tit {padding: 1rem 2rem 0; color: #111111; font-weight: 500; font-size: 1.875rem; line-height: 2.2rem;}
.card-list .tit a {color: #111111;}
.card-list .tit.ellipsis {height: 2.6rem;}
.card-list .tit.multi-line-ellipsis {height: 4.6rem;}
.card-list .bottom-info-wrap {position: absolute; bottom: 0; left: 0; width: 100%; box-sizing: border-box; padding: 1rem 2rem; background-color: #1765ad; color: #ffffff;}
.card-list .writer {font-weight: 400; font-size: 1.125rem;}

.card-list.type-02>li {width: 49%; height: 21.5rem; margin-right: 2%;}
.card-list.type-02>li:nth-child(4n) {margin-right: 2%;}
.card-list.type-02>li:nth-child(2n) {margin-right: 0;}
.card-list.type-02 .top-info-wrap {padding: 1.5rem;}
.card-list.type-02 .tit-wrap {padding: 1rem 1.5rem 0;}
.card-list.type-02 .tit-wrap .tit {padding: 0;}
.card-list.type-02 .tit-wrap .sub {font-weight: 300; font-size: 1.5rem; line-height: 2rem;}
.card-list.type-02 .btn-area {position: absolute; left: 0; bottom: 3.1rem; width: 100%; box-sizing: border-box; padding: 1.5rem; display: flex; justify-content: space-between; align-content: center;}
.card-list.type-02 .btn-area button {height: 2rem; padding: 0 1.125rem; border-radius: .25rem; font-weight: 400; font-size: .875rem;}
.card-list.type-02 .bottom-info-wrap {padding: 1rem 1.5rem; display: flex; justify-content: space-between; align-content: center;}
.card-list.type-02 .bottom-info-wrap dt, .card-list.type-02 .bottom-info-wrap dd {display: inline-block; font-weight: 4v00; font-size: 1.125rem;}
.card-list.type-02 .bottom-info-wrap dt {color: #68aff0;}
.card-list.type-02 .bottom-info-wrap dd {margin-left: .5rem; letter-spacing: .025rem;}

.pagination {display: flex; justify-content: center; margin-top: 2rem;}
.pagination button {width: 2.125rem; height: 2.125rem;}
.pagination>button {background-repeat: no-repeat; background-image: url(../img/sprite-btn-pagination.png); margin: 0 .5rem;}
.pagination .btn-page-first {background-position: 0 center;}
.pagination .btn-page-prev {background-position: 35% center;}
.pagination .btn-page-next {background-position: 65% center;}
.pagination .btn-page-last {background-position: 100% center;}
.pagination .num {margin: 0 1.5rem;}
.pagination li {display: inline-block;}
.pagination li ~ li {margin-left: .75rem;}
.pagination .num button {color: #333333; font-weight: 300; font-size: .875rem; display: flex; justify-content: center; align-items: center; border-radius: 100%;}
.pagination .num button.on {background-color: #ffd5d5;}

.accordion-cover {cursor: pointer;}
.accordion-view {display: none;}
.accordion-cover.on + .accordion-view {display: table-row;}

.notice-view-area {margin: 6.5rem auto;}
.notice-view-area>h2 {display: none;}
.notice-view-area article {max-width: 996px; padding: 0 1rem; margin: 0 auto;}
.notice-view-area h3 {text-align: center; color: #111111; font-weight: bold; font-size: 2.625rem;}
.notice-view-area .doc-info-wrap {text-align: center; color: #a0a0a0; font-weight: 300; font-size: 1.125rem; margin-top: 1.375rem;}
.notice-view-area .doc-info-wrap span {color: #333333; font-weight: 400; margin: 0 1.125rem;}
.notice-view-area .doc-info-wrap .date {letter-spacing: .05rem; margin-left: 0;}
.notice-view-area .doc-info-wrap .date::before {content: '|'; color: #999999; margin-right: 1.125rem;}
.notice-view-area .cont-area {margin-top: 4.375rem; color: #333333; font-weight: 300; font-size: 1rem; line-height: 1.75rem;}
.notice-view-area .cont-area img {margin: 2.25rem 0; width: 100%;}
.notice-view-area .cont-area p {margin: 2.25rem 0;}
.notice-view-area .primary-btn-area {margin-top: 3.25rem;}
.notice-view-area .primary-btn-area button {background-color: #f4f4f4; color: #333333; font-weight: 500; font-size: 1.25rem; min-width: 8rem; height: 3.75rem; border-radius: .5rem;}

.like-sponsor-area {background-color: #fff1f1;}
.like-sponsor-area .center-wrap {max-width: 996px; padding: 0 1rem; margin: 0 auto; display: flex; justify-content: space-between; align-items: center;}
.like-sponsor-area .like-wrap {text-align: left; display: flex; justify-content: left; align-items: center; height: 7.25rem;}
.like-sponsor-area .like-wrap button {width: 6.063rem; height: 6.125rem; background-repeat: no-repeat; background-image: url(../img/sprite-btn-like-01.png); background-position: 200%; background-position: 100% center; background-size: 12.126rem;}
.like-sponsor-area .like-wrap button.on {background-position: 0 center;}
.like-sponsor-area .like-wrap .info {display: flex; flex-direction: column; justify-content: center; padding: 0 .875rem;}
.like-sponsor-area .like-wrap .info .num {color: #ff4545; font-weight: bold; font-size: 2.5rem; letter-spacing: .05rem;}
.like-sponsor-area .like-wrap .info .guide {color: #e27979; font-weight: 400; font-size: 1.125rem; margin-top: .75rem;}
.like-sponsor-area .sponsor-wrap {text-align: right; display: flex; justify-content: right; align-items: center; height: 7.25rem;}
.like-sponsor-area .sponsor-wrap dl {color: #333333; font-weight: 400; font-size: 1.125rem; padding: 0 1.5rem; display: flex; flex-direction: column; justify-content: center;}
.like-sponsor-area .sponsor-wrap dd {margin-top: .25rem;}
.like-sponsor-area .sponsor-wrap .num {font-weight: bold; font-size: 2.5rem; letter-spacing: .05rem;}
.like-sponsor-area .btn-sponsor {background-color: #ff4545; color: #ffffff; font-weight: 500; font-size: 2rem; width: 10.625rem; height: 4.375rem; border-radius: .5rem;}

#write-area .write-area-header {width: 100%; border: 1px solid #ebebeb; background-color: #f6f6f6; border-radius: .5rem; padding: .5rem 0; margin-top: 2.5rem;}
#write-area .write-area-header table {width: 100%;}
#write-area .write-area-header th, #write-area .write-area-header td {text-align: left; vertical-align: middle; padding: .125rem 1.5rem; height: 3.4rem;}
#write-area .write-area-header th {color: #666666; font-weight: 500; font-size: .938rem; width: 3.125rem;}
#write-area .write-area-header td {color: #333333; font-weight: 500; font-size: .938rem;}

/* 임시 */
.txt-write-form-area {height: 31.875rem; border: 1px solid #cccccc; border-radius: .5rem; margin-top: .75rem;}
/* 임시 */

.comments-area {max-width: 996px; padding: 0 1rem; margin: 6.25rem auto;}
.comments-area .info-area {margin: 1.125rem 0;}
.comments-area .info-area .total {color: #333333; font-weight: 300; font-size: 1rem;}
.comments-area .info-area .total .num {font-weight: 500; letter-spacing: .025rem;}
.comments-area .comment-input-box {border: 1px solid #d1d1d1; background-color: #ffffff; width: 100%; border-radius: .25rem;}
.comments-area .comment-input-box .author {color: #333333; font-weight: 500; font-size: 1rem; padding: 1.5rem 1.5rem 0;}
.comments-area .comment-input-box label {display: none;}
.comments-area .comment-input-box textarea {color: #333333; font-weight: 300; font-size: .938rem; line-height: 1.75rem; width: 100%; height: 6rem; box-sizing: border-box; border: none; padding: 1rem 1.5rem;;}
.comments-area .comment-input-box .bottom-wrap {border-top: 1px solid #e5e5e5; display: flex; justify-content: space-between; align-items: center; height: 3.25rem;}
.comments-area .comment-input-box .bottom-wrap .words-limit-count {color: #999999; font-weight: 300; font-size: .938rem; letter-spacing: .025rem; padding: 0 1.5rem;}
.comments-area .comment-input-box .bottom-wrap .words-limit-count .current {color: #666666; font-weight: 500;}
.comments-area .comment-input-box .bottom-wrap .btn-upload {background-color: #ff4545; color: #ffffff; font-weight: 300; font-size: .875rem; width: 3.875rem; height: 2rem; border-radius: .25rem; margin: 0 .5rem;}
.comments-area .comments-list-area>ul>li {border-bottom: 1px solid #e5e5e5;}
.comments-area .comment {padding: 1.375rem 0;}
.comments-area .comment .author {color: #333333; font-weight: 500; font-size: 1rem;}
.comments-area .comment .cont {color: #666666; font-weight: 300; font-size: .938rem; line-height: 1.75rem; padding: 1.125rem 0;}
.comments-area .comment .btn-area {display: flex; justify-content: space-between;}
.comments-area .comment .btn-area button {color: #333333; font-weight: 400; font-size: .938rem;}
.comments-area .comment .btn-area button .num {font-weight: 500; letter-spacing: .025rem;}
.comments-area .comment .btn-area .menu-wrap button + button {border-left: 1px solid #d0d0d0; margin-left: .875rem; padding-left: .875rem;}
.comments-area .reply-area {border-top: 1px solid #e5e5e5; background-color: #f9f9f9; padding: 0 2rem;}
.comments-area .reply {padding: 1.5rem 0;}
.comments-area .reply .info-wrap {display: flex; justify-content: space-between;}
.comments-area .reply .author {color: #333333; font-weight: 500; font-size: 1rem;}
.comments-area .reply .menu-wrap button {color: #333333; font-weight: 400; font-size: .938rem;}
.comments-area .reply .menu-wrap button + button {border-left: 1px solid #d0d0d0; margin-left: .875rem; padding-left: .875rem;}
.comments-area .reply .cont {color: #666666; font-weight: 300; font-size: .938rem; line-height: 1.75rem; padding: 1.125rem 0;}
.comments-area .reply+.reply {border-top: 1px solid #e9e9e9;}
.comments-area .reply-area .btn-close-wrap {text-align: center; padding: 1rem;}
.comments-area .reply-area .btn-close-wrap button {color: #333333; font-weight: 400; font-size: .938rem;}
.comments-area .reply-area .btn-close-wrap button svg {width: .75rem;}

#popup-area {position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; z-index: 9999; background-color: rgba(0,0,0,.8); display: flex; justify-content: center; align-items: center; display: none;}
#popup-area .popup-box {position: relative; background-color: #ffffff; width: 100%; display: none;}
#popup-area .popup-box .popup-top-area {min-height: 5rem; box-sizing: border-box; padding: 1rem 1.875rem; border-bottom: 2px solid #b8b8b8; display: flex; justify-content: space-between; align-items: center;}
#popup-area .popup-box .popup-top-area h2 {color: #333333; font-weight: bold; font-size: 1.5rem; line-height: 2rem;}
#popup-area .popup-box .popup-top-area .btn-close {width: 1rem; height: 1rem; background: url(../img/x.svg) no-repeat center;}
#popup-area .popup-box .cont-area {overflow-y: scroll; max-height: 60vh;}
#popup-area .popup-box .primary-btn-area {padding: 1.875rem; margin-top: 0;}

#popup-sponsor {max-width: 560px;}
#popup-sponsor table {width: 100%;}
#popup-sponsor th, #popup-sponsor td {border-bottom: 1px solid #dddddd; text-align: left; vertical-align: middle; height: 4.25rem;}
#popup-sponsor th {background-color: #f9f9f9; color: #333333; font-weight: 500; font-size: .938rem; padding: 0 1.875rem; box-sizing: border-box; width: 190px;}
#popup-sponsor td {color: #333333; font-weight: 400; font-size: 1rem; padding: 0 1.125rem;}
#popup-sponsor .num {letter-spacing: .025rem;}
#popup-sponsor table button {background-color: #e6e6e6; color: #333333; font-weight: 400; font-size: .875rem; height: 2rem; padding: 0 1.125rem; border-radius: .25rem; margin-left: .75rem;}
#popup-sponsor-confirm {max-width: 400px;}
#popup-sponsor-confirm .cont-area {text-align: center; color: #333333; font-weight: 400; font-size: 1rem; line-height: 1.625rem; padding-top: 3.125rem;}
#popup-sponsor-confirm .cont-area .bold {font-weight: 500;}
#popup-sponsor-confirm .cont-area .color {color: #ff4545;}
#popup-sponsor-confirm .cont-area .num {letter-spacing: .025rem;}

#popup-report-list {max-width: 560px;}
#popup-report-list .cont-area {padding: 0 1.875rem;}
#popup-report-list .cont-area li {display: flex; align-items: center; height: 5.5rem;}
#popup-report-list .cont-area li + li {border-top: 1px solid #d4d4d4;}
#popup-report-list .cont-area .info-area {width: calc(100% - 6.375rem); box-sizing: border-box; padding-right: 6rem;}
#popup-report-list .cont-area .date {color: #666666; font-weight: 300; font-size: 1rem; letter-spacing: .025rem;}
#popup-report-list .cont-area .tit {color: #333333; font-weight: 500; font-size: 1.125rem; margin-top: .75rem;}
#popup-report-list .cont-area .btn-area {width: 6.375rem;}
#popup-report-list .cont-area .btn-area button {width: 100%; height: 2rem; border-radius: .25rem;}


/* Header */
header {z-index: 10; position: fixed; top: 0; left: 0; width: 100%; height: 5.313rem; background-color: #ffffff; box-sizing: border-box; border-bottom: 1px solid #e1e1e1;}
header .btn-back {width: 2rem; height: 2rem; display: none;}
header .btn-back svg {width: .875rem;}
header h1 {position: absolute; top: 0; left: 1.5rem; width: 198px; height: 100%; display: flex; align-items: center; z-index: 13;}
header h1 a {width: 198px; height: 45px; background-image: url(../img/logo-researcharum-198x45-01.png); background-repeat: no-repeat; background-position: center; background-size: contain;}
header h1 span {display: block; overflow: hidden; width: 0; height: 0;}
header .gnb {position: absolute; top: 0; left: 25rem; height: 100%;}
header .gnb {height: 100%;}
header .gnb ul {height: 100%; display: flex; justify-content: space-between; align-items: center;}
header .gnb a {display: block; box-sizing: border-box; color: #666666; font-weight: 500; font-size: 1.125rem; border-bottom: 0 solid rgba(255, 255, 255, 0); position: relative;}
header .gnb a .obj-3d {position: relative; transform-style: preserve-3d; width: 12rem; height: 1.5rem; transform-origin: bottom; transition: .4s;}
header .gnb a .obj-3d>span {position: absolute; width: 100%; height: 100%; display: flex; align-items: center; justify-content: left;}
header .gnb a .en {transform: translateZ(1.5rem);}
header .gnb a .kr {transform: rotateX(90deg) translateZ(1.5rem);}
header .gnb a::before {content: ''; display: block; position: absolute; bottom: -1.5rem; width: 100%; height: 3px; background-color: #1765ad; transform: scaleX(0); transform-origin: bottom center;}
header .gnb a:hover, header .gnb a.on {color: #111111;}
header .gnb a:hover {transition: 1s;}
header .gnb a:hover::before {transform: scaleX(1); transition: .6s;}
header .gnb a:hover .obj-3d, header .gnb a.on .obj-3d {transform: rotateX(-90deg);}
header .btn-wrap {position: absolute; top: 0; right: 0; height: 100%; box-sizing: border-box; padding: 0 1.5rem; display: flex; justify-content: space-between; align-items: center; z-index: 12;}
header .btn-wrap button {width: 1.5rem; height: 1.5rem;}
header .btn-wrap button svg, header .btn-wrap button path, header .btn-wrap button circle, header .btn-wrap button line {stroke: #333333;}
header .btn-wrap button + button {margin-left: 1.625rem;}
header .btn-search {position: relative; transition: .4s;}
header .btn-search::before, header .btn-search::after {content: ''; background-color: #333333; position: absolute; display: none;}
header .btn-search::before {width: 100%; height: 2px; top: calc(50% - 1px); left: 0;}
header .btn-search::after {width: 2px; height: 100%; top: 0; left: calc(50% - 1px);}
header .btn-search.close {transform-origin: center; transform: rotate(135deg);}
header .btn-search.close svg {display: none;}
header .btn-search.close::before, header .btn-search.close::after {display: block;}
#btn-main-menu {width: 1.5rem; height: 1.375rem; display: flex; flex-direction: column; justify-content: space-between;}
#btn-main-menu i {width: 100%; height: 2px; background-color: #333333; transition: .2s;}
#btn-main-menu.close i:nth-child(1) {transform-origin: top left; transform: rotate(45deg); width: 120%;}
#btn-main-menu.close i:nth-child(2) {opacity: 0;}
#btn-main-menu.close i:nth-child(3) {transform-origin: bottom left; transform: rotate(-45deg); width: 120%;}

header .depth-sub {z-index: 9; position: absolute; top: 5.313rem; left: 0; width: 100%; height: calc(100vh - 5.313rem); background-color: rgba(0, 0, 0, .6);}
header .depth-sub>.cont-area {width: 100%; overflow-y: scroll; background-color: #ffffff;}
header .depth-sub .user-area>a {padding: 1.5rem 1.25rem; display: flex; align-items: center; display: none;}
header .depth-sub .user-area .img-wrap {background-color: #1765ad; background-repeat: no-repeat; background-position: center; background-size: cover; width: 2.5rem; height: 2.5rem; border-radius: 100%; display: flex; justify-content: center; align-items: center;}
header .depth-sub .user-area .img-wrap svg {width: 1.5rem;}
header .depth-sub .user-area .img-wrap path, header .depth-sub .user-area .img-wrap circle {stroke: #ffffff;}
header .depth-sub .user-area .user-name {margin-left: .75rem; color: #333333; font-weight: 300; font-size: 1.125rem;}
header .depth-sub .user-area .user-name span {color: #1765ad; font-weight: 500;}
header .depth-sub .depth-01 {box-sizing: border-box; padding: 2.875rem 1rem 2.875rem 25rem; display: flex;}
header .depth-sub h2 {width: 0; height: 0; overflow: hidden;}
header .depth-sub h3 {width: 12rem; height: 0; overflow: hidden;}
header .depth-sub .depth-02>li+li {margin-top: 1.875rem;}
header .depth-sub .depth-03>li {margin-top: 1rem;}
header .depth-sub .depth-02>li>a {color: #333333; font-weight: 500; font-size: 1rem; text-transform: uppercase;}
header .depth-sub .depth-03>li>a {color: #666666; font-weight: 400; font-size: .938rem; text-transform: uppercase;}
header .depth-sub.on {display: block;}
header .depth-sub.on .depth-01 {height: auto; transition: .4s;}
header .depth-sub a {position: relative;}
header .depth-sub a::before {content: ''; display: block; position: absolute; top: .8rem; width: 100%; height: 1rem; background-color: rgba(255, 69, 69, .2); transform-origin: left; transform: scaleX(0);}
header .depth-sub a.on::before, header .depth-sub a:hover::before {transform: scaleX(1);}
header .depth-sub a:hover::before {transition: .2s;}

.header-search-area {margin-top: 5.313rem;}
.header-search-area h2 {width: 0; height: 0; overflow: hidden;}
.header-search-area>.cont-area {height: 0; box-sizing: border-box; background-color: #ffffff; overflow-y: scroll; transition: .4s;}
.header-search-area .search-bar {position: relative; max-width: 800px; margin: 0 auto; opacity: 0; transition: .4s;}
.header-search-area .search-bar label {display: none;}
.header-search-area .search-bar input {color: #ffffff; font-weight: 400; font-size: 1.5rem; background-color: #1765ad; border: none; width: 100%; height: 5rem; box-sizing: border-box; padding-left: 2.125rem; padding-right: 5.6rem; border-radius: 2.5rem;}
.header-search-area .search-bar input::placeholder {color: #76b3ea;}
.header-search-area .search-bar input:focus {outline-color: #14538d;}
.header-search-area .search-bar [type=submit] {position: absolute; top: calc(50% - .85rem); right: 2.125rem; width: 1.75rem; height: 1.75rem;}
.header-search-area .search-bar [type=submit] circle, .header-search-area .search-bar [type=submit] line {stroke: #ffffff;}
.header-search-area .result-area {opacity: 0; padding: 3.625rem 0;}
.header-search-area .no-result {text-align: center; font-weight: 500; font-size: 1.5rem; line-height: 2rem; color: #333333; background: url(../img/icon-loupe-02_86x86.png) no-repeat center 2.625rem; padding-top: 9.5rem;}
.header-search-area .no-result span {color: #1765ad;}
.header-search-area .no-result span::before, .header-search-area .no-result span::after {content: '"';}
.header-search-area.on>.cont-area {height: 100vh; padding: 4rem;}
.header-search-area.on .search-bar, .header-search-area.on .result-area {opacity: 1; transition-delay: .2s;}


/* Footer */
footer {background-color: #37393b; padding: 3.625rem 0;}
footer::after {content: ''; display: block; clear: both;}
footer .sitemap {margin-bottom: 5.875rem;}
footer .sitemap .depth-01::after {content: ''; display: block; clear: both;}
footer .sitemap .depth-01>li {float: left; width: calc(100% / 6);}
footer .sitemap .depth-02 li {margin-top: 1.875rem;}
footer .sitemap .depth-03 li {margin-top: 1rem; margin-left: 1rem;}
footer .sitemap .depth-01>li>a {color: #ffffff; font-weight: 400; font-size: 1rem;}
footer .sitemap .depth-02>li>a {color: #999999; font-weight: 200; font-size: .938rem; text-transform: uppercase;}
footer .sitemap .depth-03>li>a {color: #999999; font-weight: 200; font-size: .938rem;}
.fnb-wrap {position: relative;}
.fnb::after {content: ''; display: block; clear: both;}
.fnb li {float: left; margin-right: 2.5rem;}
.fnb a {color: #ffffff; font-weight: 400; font-size: .875rem;}
footer address {margin-top: 2.25rem; color: #999999; font-weight: 300; font-size: .875rem; line-height: 1.375rem; word-break: keep-all; max-width: 30rem;}
footer address li {display: inline;}
footer address li + li {margin-right: .5rem;}
footer address li + li::before {content: '/'; margin-right: .5rem;}
footer address p {margin-top: 1rem;}
footer .family-link-wrap {position: absolute; top: 0; right: 0;}
footer .family-link-wrap button {width: 2.125rem; height: 2.125rem;}
footer .family-link-wrap button + button {margin-left: 1rem;}

@media screen and (max-width: 1680px) {
    header .gnb {display: none;}
    header .btn-search::before, header .btn-search::after {background-color: #ffffff;}
    header.on {background-color: #1765ad; border-bottom-color: #1765ad;}
    header.on h1 a {background-image: url(../img/logo-researcharum-198x45-ffffff.png);}
    header.on .btn-wrap button path, header.on .btn-wrap button circle, header.on .btn-wrap button line {stroke: #ffffff;}
    header.on .btn-user {display: none;}
    header.on #btn-main-menu i {background-color: #ffffff;}
    header .depth-sub>.cont-area {height: 100%;}
    header .depth-sub .user-area>a {display: flex;}
    header .depth-sub .depth-01 {height: 100%; padding: 0 1.25rem 1.55rem; display: block;}
    header .depth-sub h3 {width: auto; height: auto; overflow: auto; font-weight: 500; font-size: 1.125rem; padding: 1.375rem 0; border-bottom: 1px solid #d2d2d2;}
    header .depth-sub h3 a {color: #1765ad}
    header .depth-sub .depth-01>li {margin-bottom: 2.5rem;}
    header .depth-sub .depth-01>li+li {margin-left: 0;}
    header .depth-sub .depth-02 {margin-top: 1.375rem;}
    header .depth-sub .depth-03>li {list-style: disc inside; margin-left: .75rem;font-size: .875rem;}
    header .depth-sub .depth-03>li>a {font-size: .875rem;}

    footer .sitemap {display: none;}
}

@media screen and (max-width: 1328px) {
    .card-list>li {width: 32%; margin-right: 2%;}
    .card-list>li:nth-child(4n) {margin-right: 2%;}
    .card-list>li:nth-child(3n) {margin-right: 0;}
    .card-list.type-02>li:nth-child(4n), .card-list.type-02>li:nth-child(3n) {margin-right: 2%;}
    .card-list.type-02>li:nth-child(2n) {margin-right: 0;}
    .card-list.type-02>li {height: 24rem;}
    .card-list.type-02 .btn-area {bottom: 6rem;}
    .card-list.type-02 .bottom-info-wrap {flex-direction: column;}
    .card-list.type-02 .bottom-info-wrap dl+dl {margin-top: .75rem;}
    .card-list.type-02 .bottom-info-wrap dt, .card-list.type-02 .bottom-info-wrap dd {font-size: 1rem;}

    .notice-view-area .stock-item-summary-area {width: calc(100% - 2rem);}
}

@media screen and (max-width: 1024px) {
    .center-wrap {width: 100%;}

    section>h2 {position: fixed; top: 2rem; left: 25%; width: 50%; font-size: 1.25rem; z-index: 11;}
    section>h2+.sub {font-size: .938rem; line-height: 1.375rem; padding: 0 1rem;}
    section>h2+.sub span {color: #666666; font-size: .875rem; line-height: 1.375rem;}

    .primary-btn-area .right {position: static; top: 0; right: auto;}
    .checkbox-type-01+label {font-size: 1rem;}
    .btn-primary {font-size: 1.125rem; height: 3.75rem;}
    .tab {border: none; border-bottom: 1px solid #e5e5e5; border-radius: 0; overflow-x: scroll;}
    .tab li + li {border-left: none;}
    .tab li {color: #666666; height: 3.5rem; position: relative;}
    .tab li button {font-weight: 500; font-size: 1rem; width: 100%; height: 100%; min-width: 8rem;}
    .tab li.on {color: #111111; background: none;}
    .tab li.on::before {content: ''; display: block; position: absolute; bottom: 0; left: calc(50% - 2.375rem); width: 4.75rem; height: 3px; background-color: #ff4545;}
    .tab li.on button {color: #111111;}
    .pagination, .primary-btn-area .pagination {display: none;}
    .join-membership-area {padding: 0 1.5rem;}
    .notice-search-area .search-bar {border: none; width: 36rem; height: auto; margin: 0 auto; background: none; display: block;}
    .notice-search-area .search-bar select, .notice-search-area .search-bar input {border: 1px solid #d6d6d6; height: 2.75rem;}
    .notice-search-area .search-bar select {width: 100%; margin-bottom: 1rem;}
    .notice-search-area .search-bar input {width: 100%;}
    .notice-search-area .search-bar button {right: 0;}

    .stock-item-summary-area .tit-wrap h3 {font-size: 1.375rem; line-height: 1.75rem;}

    .card-list>li {width: 49%;}
    .card-list>li:nth-child(4n), .card-list>li:nth-child(3n) {margin-right: 2%;}
    .card-list>li:nth-child(2n) {margin-right: 0;}
    .card-list .top-info-wrap {justify-content: left; flex-direction: column;}
    .card-list .top-info-wrap .type {margin-bottom: .75rem;}
    .card-list .top-info-wrap .writer {margin-right: .75rem;}
    .card-list .tit {font-size: 1.5rem; line-height: 1.875rem;}
    .card-list .tit.ellipsis {height: 2.2rem;}
    .card-list .tit.multi-line-ellipsis {height: 4rem;}
    .card-list.type-02 .tit-wrap {padding: 0 1.5rem;}
    .card-list.type-02 .tit-wrap .sub {font-size: 1.25rem; line-height: 1.625rem;}

    .notice-view-area {margin-top: 2rem;}
    .notice-view-area>h2 {display: block;}
    .notice-view-area h3 {font-size: 1.5rem; line-height: 1.75rem;}
    .notice-view-area .doc-info-wrap {font-size: 1rem; margin-top: .875rem;}
    .notice-view-area .doc-info-wrap span {display: block; margin: .5rem 1.125rem;}
    .notice-view-area .doc-info-wrap .date {letter-spacing: .025rem; margin-left: 1.125rem;}
    .notice-view-area .doc-info-wrap .date::before {display: none;}
    .notice-view-area .cont-area {margin-top: 2rem; font-size: .938rem; line-height: 1.375rem;}
    .notice-view-area .cont-area img {margin: 2rem 0; width: 100%;}
    .notice-view-area .cont-area p {margin: 2rem 0;}
    .notice-view-area .primary-btn-area {margin-top: 2rem;}
    .notice-view-area .primary-btn-area button {font-size: 1rem; min-width: 6.25rem; height: 2.875rem;}

    #write-area .write-area-header {border: none; background: none; border-radius: 0; padding: .5rem 0; margin-top: 1.5rem;}
    #write-area .write-area-header table {border-top: 1px solid #dfdfdf;}
    #write-area .write-area-header th, #write-area .write-area-header td {display: block; padding: 1.25rem 0; height: auto;}
    #write-area .write-area-header th {color: #333333; font-size: .875rem; width: auto; padding-bottom: 0;}
    #write-area .write-area-header td {font-size: .938rem; border-bottom: 1px solid #dfdfdf;}
    #write-area .write-area-header td input {border: none; height: auto; padding: 0;}

    .like-sponsor-area .like-wrap button {width: 5rem; height: 5rem; background-size: 10rem; flex-shrink: 0;}
    .like-sponsor-area .like-wrap .info .num {font-size: 1.875rem; letter-spacing: -.025rem;}
    .like-sponsor-area .like-wrap .info .guide {font-size: 1rem; line-height: 1.25rem; margin-top: .25rem;}
    .like-sponsor-area .sponsor-wrap dl {font-size: 1rem; padding: 0 1rem;}
    .like-sponsor-area .sponsor-wrap .num {font-size: 1.875rem; letter-spacing: -.025rem;}
    .like-sponsor-area .btn-sponsor {font-size: 1rem; width: 5rem; height: 3.25rem;}

    .comments-area {margin: 2rem auto;}

    header h1 {display: none;}
    header .btn-wrap {width: 100%;}
    header .btn-back {display: block;}
    header .btn-search, header .btn-user {display: none;}
    header.on h1 {display: flex; left: auto; right: 128px; width: 25px;}
    header.on h1 a {width: 100%; background-image: url(../img/icon-home-01.svg);}
    header.on .btn-wrap {width: auto; justify-content: right;}
    header.on .btn-search {display: block;}
    header.on .btn-back {display: none;}
    .depth-sub.on h2 {width: auto; height: 5.313rem; position: absolute; top: -5.313rem; left: 1rem; color: #ffffff; font-weight: 500; font-size: 1.25rem; z-index: 99; display: flex; align-items: center;}
    .header-search-area.on h2 {width: auto; height: 5.313rem; position: absolute; top: 0; left: 1rem; color: #ffffff; font-weight: 500; font-size: 1.25rem; z-index: 99; display: flex; align-items: center;}
    .header-search-area .search-bar input {font-size: 1rem; background-color: #1765ad; height: 3.75rem; padding-left: 1.5rem; padding-right: 3.75rem; border-radius: 1.875rem;}
    .header-search-area .search-bar [type=submit] {top: calc(50% - .75rem); right: 1.125rem; width: 1.5rem; height: 1.5rem;}
    .header-search-area .no-result {font-size: 1.125rem; line-height: 1.75rem;}
    .header-search-area.on>.cont-area {height: 100vh; padding: 1.5rem 1rem;}

    footer .family-link-wrap {position: static; margin-top: 1.5rem;}
    footer address {margin-top: 1.5rem;}
}

@media screen and (max-width: 768px) {
    section>h2+.sub br {display: none;}
    
    .primary-btn-area>button {width: 48%;}
    .primary-btn-area>button+button {margin-left: 0;}
    .primary-btn-area>button:nth-child(even) {margin-left: 2%;}
    .primary-btn-area>button:nth-child(2)~button {margin-top: .75rem;}

    .table-type-02 th, .table-type-02 td {display: block; height: auto; padding: 1.25rem 0;}
    .table-type-02 th {border-bottom: none; padding-bottom: 0;}
    .table-type-02 td {border-bottom: 1px solid #dfdfdf;}
    .table-type-accordion th, .table-type-accordion td {display: table-cell; height: auto; padding: 1.25rem 0;}
    .table-type-accordion th {border-bottom: 1px solid #dfdfdf;}

    .researcharum-guide-area .tit {font-size: 1.25rem;}
    .researcharum-guide-area .sub {font-size: 1rem;}
    .researcharum-guide-area .btn-area {margin-top: 2rem;}
    .researcharum-guide-area .btn-area button {width: 100%;}
    .researcharum-guide-area .btn-area button+button {margin-left: 0; margin-top: 1rem;}

    .notice-search-area .search-bar {width: 100%;}

    .stock-item-summary-area {margin-top: 2rem; height: auto; display: block;}
    .stock-item-summary-area .tit-wrap {padding: 1.5rem 1.375rem; height: auto;}
    .stock-item-summary-area .tit-wrap img {width: 2.625rem; margin-right: .625rem;}
    .stock-item-summary-area .tit-wrap h3
    .stock-item-summary-area .tit-wrap .sub {font-size: 1.125rem; padding-top: .4rem;}
    .stock-item-summary-area .info-area {border-left: none; border-top: 1px solid #0b4982; width: 100%; height: auto; box-sizing: border-box; padding: 1.625rem 1.375rem; flex-direction: row; justify-content: space-between;}
    .stock-item-summary-area .info-area dt, .stock-item-summary-area .info-area dd {font-size: 1rem;}
    .stock-item-summary-area .info-area .num {letter-spacing: .025rem; margin-right: 0;}
    .stock-item-summary-area .info-area button {position: absolute; bottom: 5.7rem; left: 10.4rem; width: auto;}

    .card-list>li {width: 100%; margin-right: 0;}
    .card-list>li:nth-child(4n), .card-list>li:nth-child(3n) {margin-right: 0;}
    .card-list.type-02>li {width: 100%; margin-right: 0;}
    .card-list.type-02>li:nth-child(4n), .card-list.type-02>li:nth-child(3n) {margin-right: 0;}

    .like-sponsor-area .center-wrap {display: block;}
    .like-sponsor-area .like-wrap {text-align: left; justify-content: left;}
    .like-sponsor-area .sponsor-wrap {text-align: left; justify-content: left; border-top: 1px solid #ffd9d9;}
    .like-sponsor-area .sponsor-wrap dl {order: 2;}
    .like-sponsor-area .btn-sponsor {order: 1;}

    #popup-report-list.popup-box {max-width: 100vw;}
    #popup-report-list .popup-top-area {height: 6.125rem;}
    #popup-report-list.popup-box .cont-area {padding: 0 1.125rem; max-height: calc(100vh - 6.125rem);}
    #popup-report-list .cont-area li {flex-wrap: wrap; height: 7.125rem;}
    #popup-report-list .cont-area .info-area {width: 100%; padding-right: 0;}
    #popup-report-list .cont-area .date {font-size: .875rem;}
    #popup-report-list .cont-area .tit {font-size: 1rem; margin-top: .5rem;}

    #popup-sponsor .cont-area {padding: 1rem;}
    #popup-sponsor th, #popup-sponsor td {height: auto;}
    #popup-sponsor th {display: block; background-color: #ffffff; padding: 1rem 0; width: 100%; border-bottom: none;}
    #popup-sponsor td {display: block; padding: 0 0 1rem;}

    header h1 {width: 140px; left: 1rem;}
    .fnb li {float: left; margin-right: 1.5rem;}
}