@charset "utf-8";

body {min-width: 320px; font-size: 16px; letter-spacing: -.05em; background-color: #ffffff;}
body * {font-family: 'Noto Sans KR', Helvetica, Arial, sans-serif;}
a {text-decoration: none;}
button {padding: 0; background: none; border: none; cursor: pointer;}
caption {display: none;}
label {cursor: pointer;}
[type=text], [type=password], [type=email], [type=tel], [type=number], select {width: 100%; height: 2.5rem; box-sizing: border-box; border: 1px solid #d6d6d6; padding: 0 1rem; color: #333333; font-weight: 500; font-size: .938rem;}
[type=checkbox], [type=radio], select {cursor: pointer;}
::placeholder {color: #999999;}


/* common */
.ellipsis {text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.mulit-line-ellipsis {overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}

.center-wrap {max-width: 1296px; padding: 0 1rem; margin: 0 auto;}
.primary-btn-area {margin-top: 2.375rem; text-align: center;}
.primary-btn-area>button {min-width: 5.5rem; height: 2rem; box-sizing: border-box; padding: 0 1.25rem; border-radius: .25rem; font-weight: 300; font-size: .875rem;}
.primary-btn-area>button+button {margin-left: 1rem;}
.btn-gray {background-color: #525252; color: #ffffff;}
.btn-color {background-color: #ff4545; color: #ffffff;}
.btn-primary {width: 100%; height: 4.375rem; background-color: #ff4545; color: #ffffff; font-weight: 500; font-size: 1.25rem; border-radius: .5rem;}

.checkbox-type-01 {display: none;}
.checkbox-type-01+label {position: relative; padding-left: 26px; color: #333333; font-weight: 500; font-size: 1.125rem;}
.checkbox-type-01+label::before, .checkbox-type-01+label::after {content: ''; display: block; position: absolute; border-radius: 100%;}
.checkbox-type-01+label::before {top: 4px; left: 0; width: 18px; height: 18px; border: 1px solid #9f9f9f;}
.checkbox-type-01:checked+label::after {top: 10px; left: 6px; width: 8px; height: 8px; background-color: #ff4545;}
.checkbox-type-02 {display: none;}
.checkbox-type-02+label {position: relative; padding-left: 24px; color: #333333; font-weight: 500; font-size: 1rem;}
.checkbox-type-02+label::before, .checkbox-type-02+label::after {content: ''; display: block; position: absolute; border-radius: 100%;}
.checkbox-type-02+label::before {top: 4px; left: 0; width: 16px; height: 16px; border: 1px solid #9f9f9f;}
.checkbox-type-02:checked+label::after {top: 10px; left: 6px; width: 6px; height: 6px; background-color: #ff4545;}

.researcharum-guide-area {text-align: center;}
.researcharum-guide-area .tit {color: #333333; font-weight: 500; font-size: 1.5rem;}
.researcharum-guide-area .sub {margin-top: 1rem; color: #333333; font-weight: 200; font-size: 1.125rem;}
.researcharum-guide-area .btn-area {margin-top: 2.5rem;}
.researcharum-guide-area .btn-area button {background-color: #1765ad; color: #ffffff; font-weight: 300; font-size: 1rem; width: 12.5rem; height: 2.875rem; border-radius: .25rem;}
.researcharum-guide-area .btn-area button+button {margin-left: 1rem;}

.tab {border: 1px solid #ff4545; border-radius: .5rem; text-align: center; font-weight: 500; font-size: 1rem; overflow: hidden;}
.tab ul {display: flex;}
.tab li + li {border-left: 1px solid #ff4545;}
.tab li {color: #333333; height: 3rem; flex: 1; display: flex; justify-content: center; align-items: center;}
.tab li button {font-weight: 500; font-size: 1rem; width: 100%; height: 100%;}
.tab li.on {color: #ffffff; background-color: #ff4545;}
.tab li.on button {color: #ffffff;}

table.table-type-01 {width: 100%; border-top: 2px solid #585858;}
.table-type-01 th, .table-type-01 td {text-align: center; vertical-align: middle; height: 3.25rem;}
.table-type-01 th {background-color: #f6f6f6; color: #333333; font-weight: 500; font-size: .938rem; border-bottom: 1px solid #787878;}
.table-type-01 td {color: #666666; font-weight: 300; font-size: .875rem; letter-spacing: .05rem; border-bottom: 1px solid #dddddd;}
.table-type-01 tr:hover td {background-color: #f7f7f7;}
table.table-type-02 {width: 100%; border-top: 1px solid #999999;}
.table-type-02 th, .table-type-02 td {border-bottom: 1px solid #dfdfdf; height: 4.375rem; vertical-align: middle; text-align: left; padding: 0 1rem; font-weight: 500; font-size: 1rem;}
.table-type-02 th {color: #666666;}
.table-type-02 td {color: #333333;}

.card-list {display: flex; flex-wrap: wrap; justify-content: space-between;}
.card-list>li {position: relative; width: 312px; height: 15rem; margin-bottom: 2.5rem; border-radius: 1.25rem; overflow: hidden; box-shadow: 0 0 40px rgba(2, 2, 2, .14);}
.card-list .top-info-wrap {padding: 1.5rem 2rem; display: flex; justify-content: space-between;}
.card-list .type {color: #333333; font-weight: 500; font-size: 1rem;}
.card-list .date {color: #999999; font-weight: 300; font-size: .875rem; letter-spacing: .05rem;}
.card-list .tit {padding: 1rem 2rem 0; color: #111111; font-weight: 500; font-size: 1.875rem; line-height: 2.2rem; height: 4.6rem;}
.card-list .bottom-info-wrap {position: absolute; bottom: 0; left: 0; width: 100%; box-sizing: border-box; padding: 1rem 2rem; background-color: #1765ad; color: #ffffff;}
.card-list .writer {font-weight: 400; font-size: 1.125rem;}

.pagination {display: flex; justify-content: center; margin-top: 2rem;}
.pagination button {width: 2.125rem; height: 2.125rem;}
.pagination>button {background-repeat: no-repeat; background-image: url(../img/sprite-btn-pagination.png); margin: 0 .5rem;}
.pagination .btn-page-first {background-position: 0 center;}
.pagination .btn-page-prev {background-position: 35% center;}
.pagination .btn-page-next {background-position: 65% center;}
.pagination .btn-page-last {background-position: 100% center;}
.pagination .num {margin: 0 1.5rem;}
.pagination li {display: inline-block;}
.pagination li ~ li {margin-left: .75rem;}
.pagination .num button {color: #333333; font-weight: 300; font-size: .875rem; display: flex; justify-content: center; align-items: center; border-radius: 100%;}
.pagination .num button.on {background-color: #ffd5d5;}

.accordion-cover {cursor: pointer;}
.accordion-view {display: none;}
.accordion-cover.on + .accordion-view {display: table-row;}


/* header */
header {z-index: 10; position: fixed; top: 0; left: 0; width: 100%; height: 5.313rem; background-color: #ffffff; box-sizing: border-box; border-bottom: 1px solid #e1e1e1;}
h1 {position: absolute; top: 0; left: 30px; width: 198px; height: 100%; display: flex; align-items: center; }
h1 a {width: 198px; height: 45px; background-image: url(../img/logo-researcharum-198x45-01.png); background-repeat: no-repeat; background-position: center;}
h1 span {display: block; overflow: hidden; width: 0; height: 0;}
header .gnb {position: absolute; top: 0; left: 448px; height: 100%;}
header .gnb {height: 100%;}
header .gnb ul {height: 100%; display: flex; justify-content: space-between; align-items: center;}
header .gnb li+li {margin-left: 3rem;}
header .gnb a {display: block; box-sizing: border-box; padding: 1rem 0; color: #666666; font-weight: 500; font-size: 1.125rem; border-bottom: 0 solid rgba(255, 255, 255, 0);}
header .gnb a:hover {color: #111111; border-bottom-width: 3px; transition: 1s;}
header .gnb a.on {color: #111111; border-bottom: 3px solid #ff4545;}
header .btn-wrap {position: absolute; top: 0; right: 30px; height: 100%; display: flex; justify-content: space-between; align-items: center;}
header .btn-wrap button path, header .btn-wrap button circle, header .btn-wrap button line {stroke: #333333;}
header .btn-wrap button + button {margin-left: 1.625rem;}
#btn-search-toggle {width: 25px; height: 25px;}
#btn-user {width: 25px; height: 25px;}
#btn-menu {width: 1.5rem; height: 1.375rem; display: flex; flex-direction: column; justify-content: space-between;}
#btn-menu i {width: 100%; height: 2px; background-color: #333333;}

.depth-sub {z-index: 9; position: absolute; top: 5.313rem; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, .6); display: none;}
.depth-sub .depth-01 {background-color: #ffffff; box-sizing: border-box; padding: 2.875rem 1rem 2.875rem 448px; display: flex;}
/* transform-origin: top; transform: scaleY(0); */
.depth-sub h2 {height: 0; overflow: hidden;}
.depth-sub .depth-01>li+li {margin-left: 2.8rem;}
.depth-sub .depth-02>li+li {margin-top: 1.875rem;}
.depth-sub .depth-03>li {margin-top: 1rem;}
.depth-sub .depth-02>li>a {position: relative; color: #333333; font-weight: 500; font-size: 1rem; text-transform: uppercase;}
.depth-sub .depth-02>li>a.on::before {content: ''; display: block; position: absolute; top: .8rem; width: 100%; height: 1rem; background-color: rgba(255, 69, 69, .2);}
.depth-sub .depth-03>li>a {color: #666666; font-weight: 200; font-size: .938rem; text-transform: uppercase;}

#header-search-area {margin-top: 5.313rem; height: 0; background-color: #ffffff; overflow: hidden; transition: .4s;}
#header-search-area .search-bar {position: relative; max-width: 800px; margin: 0 auto; opacity: 0; transition: .4s;}
#header-search-area .search-bar label {display: none;}
#header-search-area .search-bar input {color: #ffffff; font-weight: 400; font-size: 1.5rem; background-color: #1765ad; border: none; width: 100%; height: 5rem; box-sizing: border-box; padding-left: 2.125rem; padding-right: 5.6rem; border-radius: 2.5rem;}
#header-search-area .search-bar input::placeholder {color: #ffffff;}
#header-search-area .search-bar input:focus {outline-color: #14538d;}
#header-search-area .search-bar [type=submit] {position: absolute; top: calc(50% - .85rem); right: 2.125rem; width: 1.75rem; height: 1.75rem;}
#header-search-area .search-bar [type=submit] circle, #header-search-area .search-bar [type=submit] line {stroke: #ffffff;}
#header-search-area .result-area {opacity: 0;}
#header-search-area .no-result {text-align: center; font-weight: 500; font-size: 1.5rem; color: #333333; margin-top: 3.625rem;}
#header-search-area .no-result span {color: #1765ad;}
#header-search-area .no-result span::before, #header-search-area .no-result span::after {content: '"';}
#header-search-area.on {height: auto; padding: 4rem;}
#header-search-area.on .search-bar, #header-search-area.on .result-area {opacity: 1; transition-delay: .2s;}


/* footer */
footer {background-color: #37393b; padding: 3.625rem 0;}
footer::after {content: ''; display: block; clear: both;}
footer .sitemap {margin-bottom: 5.875rem;}
footer .sitemap .depth-01::after {content: ''; display: block; clear: both;}
footer .sitemap .depth-01>li {float: left; width: calc(100% / 6);}
footer .sitemap .depth-02 li {margin-top: 1.875rem;}
footer .sitemap .depth-03 li {margin-top: 1rem; margin-left: 1rem;}
footer .sitemap .depth-01>li>a {color: #ffffff; font-weight: 400; font-size: 1rem;}
footer .sitemap .depth-02>li>a {color: #999999; font-weight: 200; font-size: .938rem; text-transform: uppercase;}
footer .sitemap .depth-03>li>a {color: #999999; font-weight: 200; font-size: .938rem;}
.fnb-wrap {float: left;}
.fnb::after {content: ''; display: block; clear: both;}
.fnb li {float: left;}
.fnb li + li {margin-left: 2.5rem;}
.fnb a {color: #ffffff; font-weight: 400; font-size: .875rem;}
address {margin-top: 2.25rem; color: #999999; font-weight: 200; font-size: .875rem; line-height: 1.375rem; word-break: keep-all; max-width: 30rem;}
address li {display: inline;}
address li + li {margin-left: .5rem;}
address li + li::before {content: '/'; margin-right: .5rem;}
address p {margin-top: 1rem;}
.family-link-wrap {float: right;}
.family-link-wrap button {width: 2.125rem; height: 2.125rem;}
.family-link-wrap button + button {margin-left: 1rem;}