@charset "utf-8";

body {padding-top: 5.313rem;}
.center-wrap {max-width: 1296px; padding: 0 1rem; margin: 6.5rem auto;}
section h2 {text-align: center; color: #111111; font-weight: bold; font-size: 2.625rem;}
section h2 span {color: #999999;}
section h2+.sub {text-align: center; color: #333333; font-weight: 300; font-size: 1.375rem; line-height: 1.875rem; margin-top: 1rem;}
section h2+.sub span {color: #666666; font-size: 1rem;}
.tab {margin: 3.5rem auto 0; width: 18.75rem;}
.card-list {margin-top: 3rem;}
.pagination {margin-top: 2rem;}
.page-info-wrap {margin-top: 3rem; display: flex; justify-content: space-between; color: #666666; font-weight: 500; font-size: .938rem;}
.page-info-wrap span {color: #ff4545; letter-spacing: .025rem;}

#faq-area table {margin-top: 1.25rem;}
#faq-area th, #faq-area td {color: #666666; font-weight: 300; font-size: .875rem; line-height: 1.5rem; height: 3.25rem; padding: .875rem 1rem;}
#faq-area th {width: 4rem; padding: 0; text-align: right;}
#faq-area th span {display: none;}
#faq-area .question th::before, #faq-area .answer th::before {color: #ffffff; font-size: .875rem; width: 1.5rem; height: 1.5rem; border-radius: 100%; display: inline-flex; justify-content: center; align-items: center;}
#faq-area .question th::before {content: 'Q'; background-color: #939393;}
#faq-area .answer th::before {content: 'A'; background-color: #ff4545;}
#faq-area .accordion-view {background-color: #f6f6f6;}