@charset "utf-8";

body {background-image: url(../img/bg-main-01.jpg); background-repeat: no-repeat; background-attachment: fixed; padding-top: 0;}

header {background-color: rgba(0,0,0,.6); border-bottom-color: rgba(0,0,0,.6);}
header h1 a {background-image: url(../img/logo-researcharum-198x45-ffffff.png);}
header .gnb a {color: #fffefe;}
header .gnb a:hover {color: #ffffff;}
header .gnb a.on {color: #ffffff;}
header .btn-wrap button path, header .btn-wrap button circle, header .btn-wrap button line {stroke: #ffffff;}
#btn-main-menu i {background-color: #ffffff;}
header.on {background-color: #ffffff; border-bottom-color: #ffffff;}
header.on h1 a {background-image: url(../img/logo-researcharum-198x45-01.png);}
header.on .gnb a {color: #666666;}
header.on .gnb a:hover, header.on .gnb a.on {color: #111111;}
header.on .btn-wrap button path, header.on .btn-wrap button circle, header.on .btn-wrap button line {stroke: #333333;}
header.on #btn-main-menu i {background-color: #333333;}

section {box-sizing: border-box;}
section>h2 {text-align: inherit; color: inherit; font-weight: inherit; font-size: inherit;}
section>h2 span {color: inherit;}
section>h2+.sub {text-align: inherit; color: inherit; font-weight: inherit; font-size: inherit; line-height: inherit; margin-top: 0; padding: 0;}
section>h2+.sub span {color: inherit; font-size: inherit; line-height: inherit;}

#section-main-banner {width: 100%; height: 100vh; min-height: 937px;}
#section-main-banner h2 {width: 0; height: 0; overflow: hidden;}
.slider {height: 100%; overflow: hidden;}
.banner {min-height: 100%; box-sizing: border-box; padding-top: 5.313rem;}
.banner-01 {background: url(../img/bg-main-banner-01.jpg) no-repeat center; background-size: cover;}
.banner-01 .wrapper {max-width: 1296px; padding: 0 1rem; margin: 0 auto;}
.banner-01 h3 {color: #ffffff; font-weight: bold; font-size: 4.375rem; line-height: 5.6rem; letter-spacing: -.25rem; word-break: keep-all; padding-top: 10.5rem; max-width: 44rem;}
.banner-01 p {color: #ffffff; font-weight: 200; font-size: 1.25rem; line-height: 1.75rem; letter-spacing: -.025rem; margin-top: 1.125rem;}
.banner-01 p span {color: #ffee8d; font-weight: 400; font-size: 1.5rem;}
.banner-01 .btn-detail {display: flex; justify-content: center; align-items: center; width: 10.75rem; height: 3.125rem; color: #ffffff; font-weight: 400; font-size: 1.125rem; border: 1px solid rgba(255, 255, 255, .3); border-radius: .4rem; margin-top: 2rem;}
.banner-01 .btn-detail svg {margin-left: .4rem;}

.card-list-area {padding: 4rem 0;}
.card-list-area h2 {text-align: center; color: #ffffff; font-weight: 300; font-size: 1.5rem;}
.card-list-area h2 span {font-weight: 500;}
.card-list-area .card-cont-area {margin-top: 6.25rem; display: flex;}
.card-list-area .card-list {justify-content: space-between;}
.card-list-area .card-list>li {margin-right: 0;}
.card-list-area .card-list>li:nth-child(4n) {margin-right: 0;}
.card-list-area .card-list>li:hover {transform: translateY(-.625rem); transition: .4s;}
.card-list-area.type-01 .card-cont-area .card-list {flex: 3;}
.card-list-area.type-01 .card-cont-area .more-area {flex: 1;}
.card-list-area.type-01 .card-list .bottom-info-wrap {background-color: #222222;}
.card-list-area.type-01 .more-area {display: flex; justify-content: center; align-items: center;}
.card-list-area.type-01 .btn-more {min-width: 10.5rem; height: 3rem; border-radius: .5rem; border: 1px solid rgba(255,255,255,.5); color: #ffffff; font-weight: 400; font-size: 1.1235rem; text-transform: uppercase;}
.card-list-area.type-01 .card-list>li:hover .bottom-info-wrap {background-color: #1765ad;}
.card-list-area.type-01 .btn-more:hover {background-color: rgba(255, 255, 255, .2); transition: .2s;}

.card-list-area.type-02 .card-list>li {background-color: rgba(0,0,0,.4); color: #ffffff;}
.card-list-area.type-02 .card-list>li .bottom-info-wrap {background: none;}
.card-list-area.type-02 .card-list>li .type {color: #dddddd;}
.card-list-area.type-02 .card-list>li .tit {color: #ffffff;}
.card-list-area.type-02 .card-list>li .date {color: #dddddd;}

#earnings-rate-ranking-area {display: flex; height: 44.5rem;}
#earnings-rate-ranking-area .info-area {flex: 1; height: 100%; border-radius: 1.25rem; background-color: rgba(0,0,0,.4); color: #ffffff; text-align: center; display: flex; flex-direction: column; align-items: center;}
#earnings-rate-ranking-area .info-area h2 {font-weight: 500; font-size: 1.5rem; padding: 6.25rem 0;}
#earnings-rate-ranking-area .info-area button {color: #dddddd; font-weight: 300; font-size: 1rem; display: block; width: 100%; text-align: center;}
#earnings-rate-ranking-area .info-area button+button {margin-top: 2rem;}
#earnings-rate-ranking-area .info-area button.on {color: #ffffff; font-weight: 600; font-size: 1.125rem;}
#earnings-rate-ranking-area .card-list {flex: 3; height: 100%;}
#earnings-rate-ranking-area .card-list>li {height: 100%;}
#earnings-rate-ranking-area .card-list>li>.cont-area {padding: 1.875rem 1.375rem 0;}
#earnings-rate-ranking-area .card-list h3 {color: #ffffff; font-weight: 400; font-size: 3.125rem;}
#earnings-rate-ranking-area .card-list .cont-area .tit {color: #ffffff; font-weight: 400; font-size: 1.125rem; line-height: 1.75rem; word-break: keep-all; margin-top: 2.375rem; padding: 0; height: 6.6rem; -webkit-line-clamp: 4;}
#earnings-rate-ranking-area .card-list .cont-area .tit a {color: #ffffff;}
#earnings-rate-ranking-area .card-list .cont-area .earnings-rate {color: #dddddd; font-weight: 300; font-size: .875rem; margin-top: 2.25rem;}
#earnings-rate-ranking-area .card-list .cont-area .earnings-rate .num {color: #ffffff; font-weight: 400; font-size: 1.5rem; letter-spacing: .025rem; margin-top: 2.25rem;}
#earnings-rate-ranking-area .card-list .graph-area {color: #ffffff; font-weight: 300; font-size: .875rem; text-align: center; margin-top: 2rem;}
#earnings-rate-ranking-area .card-list .graph-area .graph {height: 11.4rem;}
#earnings-rate-ranking-area .card-list .graph-area h4 {padding: 1rem;}

#main-notice-event-area {display: flex; padding: 0; margin-top: 9.5rem; margin-bottom: 9.875rem;}
#main-notice-event-area h2 {text-align: center; color: #ffffff; font-weight: 300; font-size: 1.5rem; width: 0; height: 0; overflow: hidden;}
#main-notice-event-area .main-notice-area {flex: 1; position: relative;}
#main-notice-event-area .main-notice {padding: 3.5rem;}
#main-notice-event-area .main-notice .type {color: #ffffff; font-weight: bold; font-size: 1.5rem;}
#main-notice-event-area .main-notice .tit {color: #ffffff; font-weight: bold; font-size: 3.5rem; line-height: 4rem; margin-top: 2.5rem; max-width: 28rem;}
#main-notice-event-area .main-notice .date {color: #dddddd; font-weight: 300; font-size: .875rem; letter-spacing: .025rem; margin-top: 5.25rem;}
#main-notice-event-area .btn-more {min-width: 10.5rem; height: 3rem; border-radius: .5rem; border: 1px solid rgba(255,255,255,.5); color: #ffffff; font-weight: 400; font-size: 1.1235rem; text-transform: uppercase; position: absolute; right: 3.5rem; bottom: 2.5rem;}
#main-notice-event-area .btn-more:hover {background-color: rgba(255, 255, 255, .2); transition: .2s;}
#main-notice-event-area .card-list-wrap {flex: 1;}

@media screen and (max-width: 1680px) {
    header.on {background-color: #1765ad; border-bottom-color: #1765ad;}
    header.on h1 a {background-image: url(../img/logo-researcharum-198x45-ffffff.png);}
    header.on .btn-wrap button path, header.on .btn-wrap button circle, header.on .btn-wrap button line {stroke: #ffffff;}
    header.on #btn-main-menu i {background-color: #ffffff;}
}

@media screen and (max-width: 1328px) {
    .center-wrap {max-width: 960px;}
    .banner-01 .wrapper {max-width: 960px;}
    .card-list-area .card-list>li {width: 19.5rem;}

    .card-list-area.type-01 .card-cont-area .card-list {flex: 2;}
    #earnings-rate-ranking-area {display: block; height: auto;}
    #earnings-rate-ranking-area .info-area {flex: auto; height: auto; background: none; display: block;}
    #earnings-rate-ranking-area .info-area h2 {font-size: 1.375rem; padding: 2rem 0;}
    #earnings-rate-ranking-area .info-area .btn-wrap {height: 3.125rem; border-radius: .25rem; background-color: rgba(0,0,0,.4); color: #ffffff; display: flex; justify-content:space-around; align-items: center;}
    #earnings-rate-ranking-area .info-area button+button {margin-top: 0;}
    #earnings-rate-ranking-area .info-area button.on {font-size: 1rem;}
    #earnings-rate-ranking-area .card-list {margin-top: 2rem;}
    #main-notice-event-area {display: block;}
    #main-notice-event-area h2 {width: auto; height: auto; overflow: auto;}
}
@media screen and (max-width: 1024px) {
    header h1 {display: flex;}
    header .btn-wrap {width: auto;}
    header .btn-back {display: none;}
    header .btn-search {display: block;}
    header.on h1 {display: flex; left: auto; right: 128px; width: 25px;}
    header.on h1 a {width: 100%; background-image: url(../img/icon-home-01.svg);}

    section>h2 {position: static; top: auto; left: auto; width: auto; font-size: inherit; z-index: 11;}

    .card-list-area {padding: 3.125rem 1rem;}
    .card-list-area h2 {text-align: left; font-size: 1.375rem;}
    .card-list-area .card-cont-area {margin-top: 1.5rem; display: block; overflow-x: scroll;}
    .small-cap-research-area.card-list-area .card-cont-area .card-list {width: 1952px;}
    .unlisted-research-area.card-list-area .card-cont-area .card-list {width: 968px;}
    .card-list-area.type-01 {position: relative;}
    .card-list-area.type-01 .more-area {display: block; width: 0; flex: 0;}
    .card-list-area.type-01 .btn-more {min-width: auto; width: 2rem; height: 2rem; border-radius: 0; border: none; color: rgba(255, 255, 255, 0); overflow: hidden; position: absolute; top: 3.125rem; right: 1rem; background: url(../img/icon-plus.svg) no-repeat center; background-size: 1.25rem;}
    .card-list-area.type-01 .card-cont-area .more-area {flex: 0;}
    .card-list-area .card-list-wrap {overflow-x: scroll;}
    #earnings-rate-ranking-area .card-list {width: 968px;}
    #main-notice-event-area {padding: 0 1rem; position: relative; margin-top: 4rem;}
    #main-notice-event-area h2 {text-align: left; font-weight: 500; font-size: 1.375rem; padding: 1.5rem 0;}
    #main-notice-event-area .main-notice-area {position: static;}
    #main-notice-event-area .main-notice {display: none;}
    #main-notice-event-area .btn-more {min-width: auto; width: 2rem; height: 2rem; border-radius: 0; border: none; color: rgba(255, 255, 255, 0); overflow: hidden; position: absolute; top: 1.125rem; right: 1rem; background: url(../img/icon-plus.svg) no-repeat center; background-size: 1.25rem;}
    #main-notice-event-area .card-list {width: 1296px;}
    #main-notice-event-area .main-notice .tit {font-size: 1.875rem; line-height: 2.25rem; margin-top: 2.5rem;}
}
@media screen and (max-width: 768px) {
    #section-main-banner {min-height: auto;}
    .banner-01 h3 {font-size: 1.875rem; line-height: 2.125rem; letter-spacing: 0; padding-top: 2rem;}
    #earnings-rate-ranking-area .info-area h2 {font-size: 1.25rem;}
}