@charset "utf-8";

body {background-color: #f2f2f2; padding-top: 5.313rem;}

.join-area {background-color: #ffffff; max-width: 672px; padding: 2.75rem 2rem; margin: 3.75rem auto 6.25rem;}
.join-area>h2 {text-align: center; color: #111111; font-weight: bold; font-size: 2.625rem;}
.join-area>h2+.sub {text-align: center; color: #666666; font-weight: 300; font-size: 1rem; margin-top: 1.125rem;}
.join-area .primary-btn-area {margin-top: 2.375rem; text-align: center;}
.join-area .primary-btn-area button {width: 5.5rem; height: 2rem; border-radius: .25rem; font-weight: 300; font-size: .875rem;}
.join-area .primary-btn-area button+button {margin-left: 1rem;}
.primary-btn-area .btn-gray {background-color: #525252; color: #ffffff;}
.primary-btn-area .btn-color {background-color: #ff4545; color: #ffffff;}

.tab {margin-top: 3.5rem;}

.step-agree-area {position: relative; margin-top: 3.75rem;}
.step-agree-area>h3 {display: block; width: 0; height: 0; overflow: hidden;}
.step-agree-area #check-complete-agree+label {position: absolute; top: -.4rem; right: 0; line-height: 1.75rem;}
.step-agree-area li+li {margin-top: 2.25rem;}
.step-agree-area h4 {color: #333333; font-weight: 500; font-size: 1.125rem;}
.step-agree-area iframe {width: 100%; border: 1px solid #d6d6d6; margin-top: 1rem;}
.step-agree-area .check-area {text-align: right; margin-top: 1.25rem;}

.step-input-area {margin-top: 3.75rem;}
.step-input-area>h3 {display: block; width: 0; height: 0; overflow: hidden;}
.step-input-area form>table {width: 100%; border-top: 1px solid #787878; font-size: .938rem;}
.step-input-area form>table th, .step-input-area form>table td {border-bottom: 1px solid #dddddd; vertical-align: middle;}
.step-input-area form>table th {background-color: #f9f9f9; font-weight: 500; text-align: left; width: 11.875rem; height: 4.25rem; box-sizing: border-box; padding-left: 1.5rem;}
.step-input-area form>table td {padding: .75rem 1rem; font-weight: 300;}
input[type=text], input[type=password], input[type=email], select {border: 1px solid #d6d6d6; width: 100%; height: 2.625rem; box-sizing: border-box; padding: 0 1rem; font-size: .875rem; color: #333333;}
.recommender-area td {position: relative;}
.recommender-area label {display: block; width: 0; height: 0; overflow: hidden;}
.recommender-area select {width: 9.625rem;}
.recommender-area .search-bar {position: absolute; display: inline-block; width: calc(100% - 12.75rem); margin-left: 1rem;}
.recommender-area .search-bar input {box-sizing: border-box; padding-right: 3rem;}
.recommender-area .search-bar button {position: absolute; right: 1rem; top: .75rem; width: 1.125rem; height: 1.125rem;}
.recommender-area .search-bar button path, .recommender-area .search-bar button circle, .recommender-area .search-bar button line {stroke: #333333;}

.step-input-area .search-result {margin-top: 2.5rem;}
.step-input-area .search-result table {width: 100%; border-top: 2px solid #585858;}
.step-input-area .search-result th, .step-input-area .search-result td {vertical-align: middle; text-align: center; height: 3.5rem;}
.step-input-area .search-result th {background-color: #f6f6f6; border-bottom: 1px solid #787878; font-weight: 500; font-size: .938rem; color: #333333;}
.step-input-area .search-result td {border-bottom: 1px solid #dddddd; font-weight: 200; font-size: .875rem; color: #666666; letter-spacing: .05rem;}
.step-input-area .search-result td label {display: none;}

.step-complete-area>.tit {font-weight: 300; font-size: 1.25rem; color: #333333; text-align: center; margin-top: 6.125rem;}
.step-complete-area>.tit .id {font-weight: bold; font-size: 1.875rem;}
.step-complete-area>.tit .color {font-weight: 500; color: #ff4545;}

.researcharum-guide-area {margin-top: 6.25rem;}
.step-complete-area .btn-primary {margin-top: 6.25rem;}

.join-membership-area {border-top: 1px solid #dfdfdf; margin-top: 2.5rem;}
.join-membership-area h3 {background-color: #1765ad; color: #ffffff; font-weight: 500; font-size: 1.25rem; width: 10rem; height: 3.125rem; display: flex; justify-content: space-between; align-items: center; box-sizing: border-box; padding-left: 1.25rem; border-top-left-radius: .5rem; border-bottom-left-radius: .5rem; border-top-right-radius: 1.563rem; border-bottom-right-radius: 1.563rem; margin-top: 2.5rem;}
.join-membership-area h3::after {content: ''; display: inline-block; background-color: #ffffff; width: .625rem; height: .625rem; border-radius: 100%; margin-right: .625rem;}
.join-membership-area .service-area ol>li {color: #333333; font-weight: 500; font-size: 1.125rem; list-style: decimal inside; margin-top: 1rem; margin-left: 1.25rem;}
.join-membership-area .service-area ul>li {color: #666666; font-weight: 500; font-size: 1rem; margin-top: .75rem; margin-left: .75rem;}
.join-membership-area .service-area ul>li::before {content: '- ';}
.join-membership-area .guidance-area ul {margin-top: 1.5rem;}
.join-membership-area .guidance-area ul>li {color: #666666; font-weight: 500; font-size: .938rem; margin-top: .75rem; margin-left: 1.25rem;}
.join-membership-area .guidance-area ul>li::before {content: '- ';}

.membership-check-list {margin-top: 2.5rem;}
.membership-check-list li+li {margin-top: 1rem;}
.membership-check-list input {display: none;}
.membership-check-list input+label {position: relative; background-color: #dddddd; color: #ffffff; width: 100%; height: 3.75rem; box-sizing: border-box; padding: 0 1.5rem; border-radius: .5rem; display: flex; justify-content: flex-start; align-items: center;}
.membership-check-list input+label::before {content: ''; display: block; border: 1px solid #c6c6c6; background-color: #ffffff; width: 22px; height: 22px; flex-basis: 22px; margin-right: 1.125rem;}
.membership-check-list input+label span {flex: auto; text-align: right;}
.membership-check-list input:checked+label {background-color: #333333;}
.membership-check-list input:checked+label::before {background-image: url(../img/icon-check-01.png); background-repeat: no-repeat; background-position: center;}

.payment-info-area {width: 100%;}
.payment-info-area th, .payment-info-area td {vertical-align: middle; height: 4.5rem; border-bottom: 1px solid #dfdfdf;}
.payment-info-area th {padding-left: 1.5rem; text-align: left; color: #333333; font-weight: 500; font-size: 1.125rem;}
.payment-info-area td {padding-right: 1.5rem; text-align: right; color: #333333; font-weight: 500; font-size: 1rem;}
.payment-info-area .total {color: #ff4545; font-size: 1.25rem;}
.payment-info-area .total .num {font-weight: bold; font-size: 1.5rem; letter-spacing: .05rem;}
.payment-info-area td label ~ label {margin-left: 2.25rem;}