@charset "utf-8";

body {background-color: #f2f2f2; padding-top: 5.313rem;}
section {margin-top: 6.5rem; margin-bottom: 6.5rem;}
h2 {text-align: center; color: #111111; font-weight: bold; font-size: 2.625rem; text-transform: uppercase;}
h2 span {color: #999999;}
h2+.sub {text-align: center; color: #333333; font-weight: 300; font-size: 1.375rem; line-height: 1.875rem; margin-top: 1rem; word-break: keep-all;}
h2+.sub span {color: #666666; font-size: 1rem;}

.aboutus-area .center-wrap {max-width: 672px;}
.aboutus-area .banner-area {width: 100%; height: 15rem; background: url(../img/bg-research-arum-about-us-01.jpg) no-repeat center; background-size: cover; margin-top: 2.5rem;}
.aboutus-area .cont-area {color: #666666; font-weight: 400; font-size: .938rem; line-height: 1.375rem; word-break: keep-all; margin-top: 3.125rem;}
.aboutus-area .cont-area h3 {color: #333333; font-weight: 500; font-size: 1.25rem;}
.aboutus-area .cont-area p {margin-top: 1.875rem;}