@charset "utf-8";

section.center-wrap {margin-top: 6.5rem; margin-bottom: 6.5rem;}
section h2 {text-align: center; color: #111111; font-weight: bold; font-size: 2.625rem;}
section h2 span {color: #999999;}
section h2+.sub {text-align: center; color: #333333; font-weight: 300; font-size: 1.375rem; line-height: 1.875rem; margin-top: 1rem;}
section h2+.sub span {color: #666666; font-size: 1rem;}
.tab {margin: 3.5rem auto 0; width: 18.75rem;}
.card-list {margin-top: 3rem;}
.pagination {margin-top: 2rem;}
.page-info-wrap {margin-top: 3rem; display: flex; justify-content: space-between; color: #666666; font-weight: 500; font-size: .938rem;}
.page-info-wrap span {color: #ff4545; letter-spacing: .025rem;}
.video-wrap {position:relative; padding-bottom:56.25%; padding-top:30px; height:0; overflow:hidden;}
.video-wrap iframe,
.video-wrap object,
.video-wrap embed {position:absolute; top:0; left:0; width:100%; height:100%;}

table.bulletin-board .tit {width: 50%;}

#research-view-area article>h2 {display: none;}
#research-view-area article .cont-area {text-align: center;}

.notice-view-area article {margin-top: 6.25rem;}
