@charset "utf-8";

body {background-color: #ffffff;}
section {margin-top: 6.5rem; margin-bottom: 6.5rem;}
/* section h2 {text-align: center; color: #111111; font-weight: bold; font-size: 2.625rem; text-transform: uppercase;}
section h2 span {color: #999999;}
section h2+.sub {text-align: center; color: #333333; font-weight: 300; font-size: 1.375rem; line-height: 1.875rem; margin-top: 1rem; word-break: keep-all;}
section h2+.sub span {color: #666666; font-size: 1rem;} */

.card-list {margin-top: 3rem;}

#aboutus-area {background-color: #ffffff;}
#aboutus-area .center-wrap {max-width: 672px;}
#aboutus-area .banner-area {width: 100%; height: 15rem; background: url(../img/bg-research-arum-about-us-01.jpg) no-repeat center; background-size: cover; margin-top: 2.5rem;}
#aboutus-area .cont-area {color: #666666; font-weight: 400; font-size: .938rem; line-height: 1.375rem; word-break: keep-all; margin-top: 3.125rem;}
#aboutus-area .cont-area h3 {color: #333333; font-weight: 500; font-size: 1.25rem;}
#aboutus-area .cont-area p {margin-top: 1.875rem;}

#service-area {max-width: 738px; background-color: #ffffff; margin-top: 6.5rem; margin-bottom: 6.25rem; padding-top: 3rem; padding-bottom: 1rem;}
#service-area>h2+.sub {color: #333333; font-weight: 400; font-size: 2.875rem; line-height: 3.25rem; margin-top: 4rem;}
#service-area>h2+.sub strong {color: #ff4545; font-weight: 600;}
#service-area .news-area {margin-top: 4.375rem;}
#service-area .news-area ul {display: flex; justify-content: space-evenly;}
#service-area .news-area li {width: 20rem; border-radius: 1rem; border: 1px solid #d0d0d0; overflow: hidden;}
#service-area .news-area li .img-wrap {overflow: hidden; position: relative; width: 100%; height: 15rem;}
#service-area .news-area li .txt-wrap {padding: 1.25rem;}
#service-area .news-area li .date {color: #333333; font-weight: bold; font-size: 1.5rem; letter-spacing: .025rem;}
#service-area .news-area li .sub {color: #666666; font-weight: 500; font-size: 1rem; margin-top: .25rem;}
#service-area .news-area li .tit {color: #333333; font-weight: 500; font-size: 1.5rem; line-height: 2.125rem; margin-top: 1.25rem; padding-top: 1.25rem; position: relative;}
#service-area .news-area li .tit strong {font-weight: bold; font-size: 1.875rem;}
#service-area .news-area li .tit::after {content: ''; display: block; position: absolute; top: 0; left: 1.25rem; height: 3px; width: 5rem; background-color: #dce4e9;}
#service-area .news-area li .tit::before {content: ''; display: block; position: absolute; top: 0; left: 0; height: 3px; width: 1.25rem;}
#service-area .news-area li:nth-child(1) .tit .color {color: #ff4545;}
#service-area .news-area li:nth-child(1) .tit::before {background-color: #ff4545;}
#service-area .news-area li:nth-child(2) .tit .color {color: #1765ad;}
#service-area .news-area li:nth-child(2) .tit::before {background-color: #1765ad;}
#service-area .service-list-area {text-align: center;}
#service-area .service-list-area>ul>li {margin-top: 7.5rem;}
#service-area .service-list-area h3 {color: #ff4545; font-weight: 500; font-size: 1.125rem;}
#service-area .service-list-area h3 span {font-size: 2.5rem;}
#service-area .service-list-area h3+.tit {color: #666666; font-weight: 500; font-size: 2.875rem; line-height: 3.25rem; margin-top: 2rem;}
#service-area .service-list-area h3+.tit span {color: #333333; font-weight: bold;}
#service-area .service-list-area img {width: 9.875rem; margin-top: 2.5rem;}
#service-area .service-list-area .cont {max-width: 25.75rem; margin: auto;}
#service-area .service-list-area .cont .tit {color: #333333; font-weight: 500; font-size: 1.25rem; line-height: 1.75rem; margin-top: 2.5rem;}
#service-area .service-list-area .cont .tit span {color: #a1a1a1;}
#service-area .service-list-area .cont .sub {color: #666666; font-weight: 500; font-size: .938rem; line-height: 1.5rem; margin-top: 1.25rem;}
#service-area .service-list-area .recommender-system .cont {background-color: #f9f8f8; color: #666666; font-weight: 500; text-align: left; padding: 2rem; max-width: 100%;}
#service-area .service-list-area .recommender-system .cont h4 {color: #333333; font-size: 1rem;}
#service-area .service-list-area .recommender-system .cont li {color: #666666; font-size: .938rem; margin-top: .75rem; list-style: decimal inside;}
#service-area .arum-sns-area {background-color: #e0f5ff; padding: 2rem; font-weight: 500; font-size: .938rem; line-height: 1.5rem;}
#service-area .arum-sns-area h3 {color: #333333; font-weight: 500; font-size: 1rem;}
#service-area .arum-sns-area ul {display: flex; justify-content: start; margin-top: .75rem;}
#service-area .arum-sns-area ul li {width: 50%;}
#service-area .arum-sns-area ul li:nth-child(even) {padding-left: 2rem; box-sizing: border-box;}
#service-area .arum-sns-area a {display: flex; justify-content: start; color: #666666;}
#service-area .arum-sns-area img {width: 2.5rem; margin-right: .75rem;}
#service-area .arum-join-area {background-color: #ffdbdb; padding: 2rem; position: relative;}
#service-area .arum-join-area>a::after {content: ''; display: block; position: absolute; right: 2rem; top: calc(50% - 1.5rem); width: 3rem; height: 3rem; border-radius: 100%; overflow: hidden; background: url(../img/icon-circle-link-01.svg) no-repeat center; background-size: contain;}
#service-area .arum-join-area h3 {color: #333333; font-weight: 500; font-size: 1.25rem;}
#service-area .arum-join-area .tit {color: #333333; font-weight: bold; font-size: 1.875rem; line-height: 2.25rem; margin-top: 1rem;}
#service-area .arum-join-area .sub {color: #666666; font-weight: 500; font-size: .938rem; line-height: 1.5rem; margin-top: 1rem;}

#organization-area {max-width: 996px; padding: 0;  background-color: #ffffff; margin-top: 6.5rem; margin-bottom: 6.25rem; padding-top: 3rem; padding-bottom: 1rem;}
#organization-area .organization-chart {margin-top: 4rem;}
#organization-area .organization-chart h3 {width: 0; height: 0; padding: 0; overflow: hidden; opacity: 0;}
#organization-area .organization-chart .ceo {position: relative; background-color: #ff4545; color: #ffffff; text-align: center; font-weight: 500; font-size: 1.125rem; width: 10rem; padding: 1rem 0; margin: auto;}
#organization-area .organization-chart>ul {display: flex; margin-top: 3.5rem;}
#organization-area .organization-chart .ceo::after, #organization-area .organization-chart>ul>li::after, #organization-area .organization-chart>ul>li::before {content: ''; display: block; position: absolute; background-color: #d6d6d6;}
#organization-area .organization-chart .ceo::after {left: 50%; bottom: -1.75rem; width: 1px; height: 1.75rem;}
#organization-area .organization-chart>ul>li::after {left: 50%; top: -1.75rem; width: 1px; height: 1.75rem;}
#organization-area .organization-chart>ul>li::before {left: 0%; top: -1.75rem; width: 100%; height: 1px;}
#organization-area .organization-chart>ul>li:first-child:before {left: 50%; width: 50%;}
#organization-area .organization-chart>ul>li:last-child:before {left: 0%; width: 50%;}
#organization-area .organization-chart>ul>li {flex: 1; text-align: center; border: 1px solid #d6d6d6; position: relative;}
#organization-area .organization-chart>ul>li+li {border-left: none;}
#organization-area .organization-chart>ul>li:first-child {border-bottom-left-radius: 1rem; border-top-left-radius: 1rem;}
#organization-area .organization-chart>ul>li:first-child h4 {border-top-left-radius: 1rem;}
#organization-area .organization-chart>ul>li:last-child {border-bottom-right-radius: 1rem; border-top-right-radius: 1rem;}
#organization-area .organization-chart>ul>li:last-child h4 {border-top-right-radius: 1rem;}
#organization-area .organization-chart h4 {background-color: #333333; color: #ffffff; font-weight: 400; font-size: 1.125rem; letter-spacing: .025rem; padding: 1.125rem 0;}
#organization-area .organization-chart .img-wrap {position: relative; width: 9.28rem; height: 9.25rem; border-radius: 100%; border: 1px solid #dfdfdf; overflow: hidden; margin: 1.875rem auto 2rem;}
#organization-area .organization-chart .txt-wrap {text-align: left; padding: 0 1.5rem 1.5rem; word-break: keep-all;}
#organization-area .organization-chart .txt-wrap .tit {color: #333333; font-weight: 500; font-size: 1rem;}
#organization-area .organization-chart .txt-wrap .tit .name {letter-spacing: .1rem;}
#organization-area .organization-chart .txt-wrap ul {margin-top: 1rem;}
#organization-area .organization-chart .txt-wrap li {color: #666666; font-weight: 400; font-size: .938rem; line-height: 1.25rem; letter-spacing: .0025rem; margin-top: .5rem;}
#organization-area .ci-area {margin-top: 5rem; text-align: center;}
#organization-area .ci-area h3 {color: #333333; font-weight: 500; font-size: 2.125rem;}
#organization-area .ci-area h4 {margin-top: 2.625rem; color: #333333; font-weight: 500; font-size: 1.125rem;}
#organization-area .ci-area h4+.sub {margin-top: 1rem; color: #666666; font-weight: 400; font-size: .938rem; line-height: 1.375rem;}
#organization-area .ci-area .box {margin-top: 1.5rem; border: 1px solid #d6d6d6;}
#organization-area .ci-area .logo-identity-area .box {background: url(../img/grid-01.svg); background-size: 2.5rem; padding: 2.5rem;}
#organization-area .ci-area .logo-identity-area .box img {width: 13.375rem;}
#organization-area .ci-area .signature-system-area .box {padding: 2.5rem 0; text-align: left;}
#organization-area .ci-area .signature-system-area .box .language-type {display: flex;}
#organization-area .ci-area .signature-system-area .box .language-type>li {flex: 1; display: flex; padding: 0 2.5rem;}
#organization-area .ci-area .signature-system-area .box .language-type>li+li {border-left: 1px solid #d6d6d6;}
#organization-area .ci-area .signature-system-area .box h5 {color: #666666; font-weight: 500; font-size: 1rem; margin-right: 2rem;}
#organization-area .ci-area .signature-system-area .box .color-type>li+li {margin-top: 2rem;}
#organization-area .ci-area .signature-system-area .box img {height: 3.125rem;}
#organization-area .ci-area .color-palette-area .box {padding: 2.5rem; text-align: left;}
#organization-area .ci-area .color-palette-area .box>ul {display: flex;}
#organization-area .ci-area .color-palette-area .box>ul>li {flex: 1; display: flex; align-items: center;}
#organization-area .ci-area .color-palette-area .box .color-sample svg {width: 4.5rem; height: 4.5rem;}
#organization-area .ci-area .color-palette-area .box .data {margin-left: 1.125rem; color: #666666; font-weight: 400; font-size: .938rem; letter-spacing: .025rem;}
#organization-area .ci-area .color-palette-area .box .data li+li {margin-top: .5rem;}

#contactus-area .cont-area {max-width: 672px;}
#contactus-area .map-area {margin-top: 2.5rem; height: 19.375rem; background-color: #a1a1a1; display: flex; flex-direction: column; justify-content: center; align-items: center;}
#contactus-area .cont-area {margin-top: 1rem;}
#contactus-area .cont-area>ul>li {padding: 1.5rem 0;}
#contactus-area .cont-area>ul>li+li {border-top: 1px solid #e3e3e3;}
#contactus-area .cont-area>ul>li>dl>dt {color: #333333; font-weight: 500; font-size: 1.125rem;}
#contactus-area .cont-area>ul>li>dl>dd {color: #666666; font-weight: 400; font-size: .938rem; line-height: 1.5rem; letter-spacing: .025rem; margin-top: .5rem;}
#contactus-area .cont-area>ul>li>dl>dd dt {color: #333333; font-weight: 500; font-size: 1rem; margin-top: .5rem;}